/*--------------------------------------------------------------
# general
--------------------------------------------------------------*/
* {
    font-family: 'Poppins',
        sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    margin: 0;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #fff;
    border-top-color: #f7a93f;
    border-bottom-color: #f7a93f;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# main
--------------------------------------------------------------*/
main {
    position: relative;
    height: 100vh;

    .right {
        float: right;

        img {
            width: 25vw;
            height: 60vh;
        }
    }

    .content {
        position: absolute;
        top: 30%;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        img {
            width: 150px;
        }

        h1 {
            span {
                color: #f7a93f;
            }
        }
        p {
            color: #9e9e9e;
        }
    }

    .left {
        float: left;

        img {
            width: 25vw;
            height: 80vh;
        }
    }

    footer {
        position: absolute;
        bottom: -5px;
        right: 0;

        img {
            width: 50vw;
        }
    }

    @media (min-width: 768px) {
        footer {
            img {
                width: 30vw;
            }
        }

        .right {
            img {
                width: 20vw;
            }
        }

        .left {
            img {
                width: 20vw;
            }
        }
    }

    @media (min-width: 1024px) {
        footer {
            img {
                width: 20vw;
            }
        }

        .right {
            img {
                width: 15vw;
            }
        }

        .left {
            img {
                width: 15vw;
            }
        }
    }

    @media (min-width: 1440px) {
        footer {
            img {
                width: 10vw;
            }
        }

        .right {
            img {
                width: 10vw;
            }
        }

        .left {
            img {
                width: 10vw;
            }
        }
    }
}
